@import url("../css/fonts.css");
:root {
  --font-family: "Open Sans";
  --font-family-bold: "Open Sans Bold";
  --font-family-italic: "Open Sans Italic";
  --font-family-bold-italic: "Open Sans Bold Italic";
  --bg-primary-color: #000000;
  --bg-secondary-color: green;
  --bg-secondary: "";
  --bg-header-color: navy;
  --bg-section-color: green;
  --border-color: #000000;
  --txt-body-color: #000000;
  --txt-header-color: white;
  --txt-header-dropdown-color: white;
  --link-color: #000000;
  --btn-bg-color: #000000;
  --btn-txt-color: #000000;
  --sub-menu-border-color: #2B2F77;
  --sub-menu-bg-color: #6B49B4;
  --sub-menu-hover-color: #855988;
  --header-height: 15vh;
  --logo-head-height: var(--header-height);
  --logo-head-width: calc(607 * var(--logo-head-height) / 227 - 5vh);
  --logo-head-left-margin: 4vw;
  --logo-body-width: 448px;
  --logo-body-height: 386px;
  --sub-menu-width: 200px;
  --sub-menu-item-height: 30px;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 2.6ch;
  background-color: var(--bg-primary-color);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
body b, body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: var(--font-family-bold);
}
body b i, body h1 i, body h2 i, body h3 i, body h4 i, body h5 i, body h6 i {
  font-family: var(--font-family-bold-italic);
}
body i {
  font-family: var(--font-family-italic);
}
body i b, body i h1, body i h2, body i h3, body i h4, body i h5, body i h6 {
  font-family: var(--font-family-bold-italic);
}
body .logo-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body nav {
  background-color: var(--bg-header-color);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 5;
  height: var(--header-height);
}
body nav .logo-container.head {
  width: var(--logo-head-width);
  height: var(--logo-head-height);
  margin-left: var(--logo-head-left-margin);
}
body nav .logo-container.head .logo-image.head {
  width: var(--logo-head-width);
  height: var(--logo-head-height);
  margin-left: var(--logo-head-left-margin);
}
body nav .menu {
  margin-right: var(--logo-head-left-margin);
}
body nav .menu.desktop {
  margin-left: 0;
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  gap: 3vw;
  align-items: center;
  list-style-type: none;
  color: var(--txt-header-color);
  visibility: visible;
}
body nav .menu.desktop .menu-link {
  position: relative;
}
body nav .menu.desktop .menu-link a {
  text-decoration: inherit;
  color: inherit;
}
body nav .menu.desktop .menu-link:hover {
  font-weight: bold;
}
body nav .menu.mobile {
  color: var(--txt-header-color);
  visibility: hidden;
}
@media screen and (max-width: 900px) {
  body nav .menu.desktop {
    visibility: hidden;
  }
  body nav .menu.mobile {
    visibility: visible;
  }
}
body nav .sub-menu {
  position: absolute;
  width: var(--sub-menu-width);
  padding-left: 0;
  border: 1px solid var(--sub-menu-border-color);
}
body nav .sub-menu.sub-sub {
  left: calc(-1 * var(--sub-menu-width) - 2px);
  top: 0;
}
body nav .sub-menu.hide {
  visibility: hidden;
}
body nav .sub-menu ul {
  list-style: none;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  box-sizing: content-box;
}
body nav .sub-menu ul .sub-menu-link {
  position: relative;
  font-weight: 100;
  border: 1px solid var(--sub-menu-border-color);
  height: var(--sub-menu-item-height);
  background-color: var(--sub-menu-bg-color);
}
body nav .sub-menu ul .sub-menu-link a {
  text-decoration: inherit;
  color: inherit;
}
body nav .sub-menu ul .sub-menu-link:hover {
  font-weight: bold;
  background-color: var(--sub-menu-hover-color);
}
body .content {
  background-color: var(--bg-secondary-color);
  background: var(--bg-secondary);
  background-repeat: repeat-y;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 90%;
  padding-top: calc(var(--header-height) + 4vh);
  color: var(--txt-body-color);
}
body .content .logo-container {
  position: relative;
  width: var(--logo-body-width);
  height: var(--logo-body-height);
}
body .content .logo-container .logo-image.body, body .content .logo-container .logo-body-g {
  width: var(--logo-body-width);
  height: var(--logo-body-height);
}
body .content .section {
  background-color: var(--bg-section-color);
  padding: 3ch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=layout.css.map */
