

.container {
  display: flex;
  border: 2px solid grey;
  justify-content: center;
  align-self: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.preset-square {
  width: 17px;
  height: 17px;
  border: 2px solid black;
  margin:0;
}