
.controls {
  display: flex;
  flex-direction: column;

}

.top-div {
  justify-content: center;
  display: flex;
}

.middle-div {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.strand-select {
  width: 250px;
  text-align: center;
  font-family: monospace;

}

.bottom-div {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}