:root {
  --bg-color: #fefefe;
  --text-color: #000000;
  --border-color: #000000;
  --close-color: grey;
  --symbol-color: rgba(25, 146, 146, 1.0);
  --symbol-color-hide: rgba(25, 146, 146, 0.0);
  --border-width: 3px; 
  --default-font: monospace;

  --modal-body-scroll-width: .8vw;
  --modal-coder-width: 30vw;
  --modal-body-coder-margin: .5vw;
}


/* The Modal (background) */
.modal-container {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
  width: 35vw;
  min-width: 350px;
  max-height: 90vh;
  background-color: var(--bg-color);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  box-sizing: border-box;
}

/* For tilting phone sideways */
@media only screen and (min-width: 600px) and (max-width: 975px) {
  .modal {
    width: 50vw;
  }
}

/* For ipads */
@media only screen and (min-width: 750px) and (max-width: 980px)
  and (min-height: 1000px) and (max-height: 1200px) {
  .modal {
    width: 60vw;
  }
}

/* For ipads */
@media only screen and (min-width: 1000px) and (max-width: 1200px)
  and (min-height: 750px) and (max-height: 980px) {
  .modal {
    width: 50vw;
  }
}

.modal-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin: var(--modal-body-coder-margin); */
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  padding-left: 1vw;
  padding-right: 1vw;
  /* margin: var(--modal-body-coder-margin); */
}

.title-nav-div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--text-color);
}

.title-hide {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--symbol-color-hide);
}

.page-number {
  color: var(--close-color);
  font-size: .7em;
  margin-top: .3em;
}

.nav-symbol {
  color: var(--symbol-color);
  margin-left: 7px;
  margin-right: 7px;
  
  cursor: pointer;
  user-select: none;
}

.nav-symbol-hide {
  color: var(--symbol-color-hide);
  margin-left: 7px;
  margin-right: 7px;
  cursor: auto;
  user-select: none;
}


/* The Close Button */
.close {
  color: var(--close-color);
  margin-right: 10px;
  align-self: flex-end;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-link {
  color: var(--symbol-color);
  cursor: pointer;
}

.modal-link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.nav-item {
  color: var(--symbol-color);
  cursor: pointer;
  text-align: left;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav-list {
  justify-content: center;
}

.nav-list>li {
  text-align: left;
  justify-content: flex-start;
}

.instruct-img {
  max-width: 90%;
}

.instruct-img.left {
  float: left;
  max-width: 50%;
  margin-top: 1vh;
  padding-right: 5px;
}

.instruct-img.right {
  float: right;
  max-width: 50%;
  margin-top: 1vh;
  padding-left: 5px;
}

/* For Pattern Coder */

.code-section {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 4vh;
}

.code-section>h4 {
  align-self: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.hex-values {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  row-gap: 2vh;
}

.hex-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 0;
  position: relative;
}

.copy-btn-div {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100px;
}

.copy-btn, .starting-btn {
  width: 55px;
  height: 4vh;
  min-height: 20px;
  background-color: var(--symbol-color);
  border: 0;
  border-radius: 5px;
  color: var(--bg-color);
  font-size: medium;
  margin-top: .5vh;
}

.copy-btn.copy-all {
  width: 90px;
  margin-top: 10px;
}

.copy-btn.copy-everything {
  width: 150px;
  height: 4.5vh;
  font-size: large;
  margin-bottom: 3vh;
}

/* .copy-btn-div>.copy-btn {
  width: 70px;
} */

.tool-tip {
  display: none;
  z-index: 5;
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  font-size: smaller;
  height: 25px;

  font-family: monospace;
  color: rgb(161, 161, 94);
  border-radius: 3px;
  filter: opacity(.8);
}

.copy-btn-div>.tool-tip {
  right: 0;
  left: 0;
}

.tool-tip#everything-tip-id {
  margin-top: -3vh;
}

.knot-values {
  display: flex;
  flex-direction: column;
}

.modal-footer {
  margin: var(--modal-body-coder-margin);
}

.modal-footer.coder {
  display: flex;
  flex-direction: column;
  /* height: 100px; */
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.modal.coder {
  width: var(--modal-coder-width);
  /* scrollbar-width: 20px; */
}

.modal-body {
  margin-right: var(--modal-body-coder-margin);
  margin-left: calc(var(--modal-body-coder-margin) + var(--modal-body-scroll-width));
  /* max-width: 95%; */
  /* padding-right: var(--modal-body-coder-margin);; */
  /* padding-right: calc(-1 * var(--modal-body-coder-margin)); */
  
  box-sizing: border-box;
  overflow-x: hidden;

}

.modal-body::-webkit-scrollbar {
  width: var(--modal-body-scroll-width);
}

.modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.hex-values, .strand-values, .knot-values {
  font-size: smaller;
}

.modal-header.coder {
  font-size: smaller;
}

.modal-header.coder div {
  padding-left: var(--modal-body-coder-margin);
  padding-right: var(--modal-body-coder-margin);
}

.permission {
  font-size: smaller;
}

/* Start Modal Content */


.starting-btn {
  min-width: 12vw;
  width: auto;
  font-size: larger;
  font-family: var(--default-font);
  height: 5vh;
  margin-left: .5vw;
  margin-right: .5vw;
}

.start-title {
  margin-top: 5vh;
}

.description {
  box-sizing: border-box;
  font-size: smaller;
  margin-top: 2vh;
  margin-left: 15px;
  margin-right: 15px;
}

.start-body {
  box-sizing: border-box;
  overflow: auto;
  margin-top: 4vh;
  margin-bottom: 7vh;
  margin-left: 15px;
  margin-right: 15px;
}

.go-back-link {
  position: relative;
  color: var(--symbol-color);
  margin-top: -1vh;
  margin-bottom: 2vh;
}

.go-back-link:hover {
  font-weight: bold;
  cursor: pointer;
}

.ignore-to-center {
  display: inline-block;
  position: relative;
  width: 0px;
  right: 28px;
}

#load-pattern-error {
  /* display: none; */
  color: red;
  margin-top: -2.5vh;
  margin-bottom: .5vh;
  font-size: smaller;
}

#load-pattern-error.hide-error {
  /* display: none; */
  color: var(--symbol-color-hide);
}

.load-pattern-input {
  width: 90%;
  height: 15vh;
  margin-bottom: 2.5vh;
  font-size: large;
}